name=input("enter name:") 
age=int(input("enter age:") 
if (age>=18):
     print("hi",name) 
     print("you are eligible for vote") 
else :
     print("sorry!",name) 
     print("you are not eligible for vote") 
 

Output:
enter name: yaswanth
enter age: 18
 hi yaswanth
 you are eligible for vote
